In [3]:
# to install pymongo
pip install pymongo

Requirement already satisfied: pymongo in c:\users\hp\anaconda3\lib\site-packages (3.11.3)Note: you may need to restart the kernel to use updated packages.

In [4]:
# to install pymongo server
pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in c:\users\hp\anaconda3\lib\site-packages (3.11.3)
Requirement already satisfied: dnspython<2.0.0,>=1.16.0 in c:\users\hp\anaconda3\lib\site-packages (from pymongo[srv]) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import json
import pymongo
from pymongo import MongoClient

import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

from sqlalchemy import create_engine
import psycopg2 
import io

In [3]:
#will establish a connection to MongoDB using the username and password
client = pymongo.MongoClient("mongodb+srv://mongouser:mongouserp@cluster0.z3ugd.mongodb.net/SolarDB?retryWrites=true&w=majority")
db = client.AirqualityDB

In [4]:
#In the Airquality, a airqualitycollection will be created, as well as a airqualitydb.
Collection = db["AirqualityColl"]

In [5]:
db

Database(MongoClient(host=['cluster0-shard-00-00.z3ugd.mongodb.net:27017', 'cluster0-shard-00-01.z3ugd.mongodb.net:27017', 'cluster0-shard-00-02.z3ugd.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-q8a6nh-shard-0', ssl=True), 'AirqualityDB')

In [6]:
Collection.delete_many({})

In [7]:
# The json file is being loaded or opened.
with open('AirQuality.json') as file:
    file_data = json.load(file)
      
# The loaded data is inserted into the Collection.
# if there are multiple entries in JSON Otherwise, insert_many is used or else insert_one is used.
if isinstance(file_data, list):
    Collection.insert_many(file_data)  
else:
    Collection.insert_one(file_data)

In [8]:
#converting data from a MongoDB database to a data frame
records = Collection.find({})
dataframe =  pd.DataFrame(list(records))

In [9]:
dataframe.describe()

,_id,MeasureId,MeasureName,MeasureType,StratificationLevel,StateFips,StateName,CountyFips,CountyName,ReportYear,Value,Unit,UnitName,DataOrigin,MonitorOnly
count,218635,218635,218635,218635,218635,218635,218635,218635,218635,218635,218635,218635,218635,218635,218635
unique,218635,10,10,3,1,51,51,3120,1816,15,80316,3,3,2,2
top,6087f1909cd9c467a9a341fb,295,Number of person-days with PM2.5 over the Nati...,Counts,State x County,48,Texas,37037,Washington,2003,0,No Units,No Units,Monitor & Modeled,0
freq,1,34199,34199,132547,218635,15651,15651,130,2221,18891,87286,132547,132547,134690,134690

In [10]:
#storing 10000 rows to airquality data frame
AirqualityDF = dataframe.head(10000)

In [11]:
#displaying the 10000 rows of the data frame
AirqualityDF.head(1000)

,_id,MeasureId,MeasureName,MeasureType,StratificationLevel,StateFips,StateName,CountyFips,CountyName,ReportYear,Value,Unit,UnitName,DataOrigin,MonitorOnly
0,6087f1909cd9c467a9a25eec,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1027,Clay,1999,33,No Units,No Units,Monitor Only,1
1,6087f1909cd9c467a9a25eed,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1051,Elmore,1999,5,No Units,No Units,Monitor Only,1
2,6087f1909cd9c467a9a25eee,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1073,Jefferson,1999,39,No Units,No Units,Monitor Only,1
3,6087f1909cd9c467a9a25eef,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1079,Lawrence,1999,28,No Units,No Units,Monitor Only,1
4,6087f1909cd9c467a9a25ef0,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1089,Madison,1999,31,No Units,No Units,Monitor Only,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,6087f1909cd9c467a9a262cf,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,39,Ohio,39097,Madison,1999,1329867,No Units,No Units,Monitor Only,1
996,6087f1909cd9c467a9a262d0,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,39,Ohio,39099,Mahoning,1999,4664610,No Units,No Units,Monitor Only,1
997,6087f1909cd9c467a9a262d1,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,39,Ohio,39103,Medina,1999,2684466,No Units,No Units,Monitor Only,1
998,6087f1909cd9c467a9a262d2,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,39,Ohio,39109,Miami,1999,1577392,No Units,No Units,Monitor Only,1
999,6087f1909cd9c467a9a262d3,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,39,Ohio,39113,Montgomery,1999,16858320,No Units,No Units,Monitor Only,1

In [12]:
# identifying the null
AirqualityDF.isnull().sum()

_id                    0
MeasureId              0
MeasureName            0
MeasureType            0
StratificationLevel    0
StateFips              0
StateName              0
CountyFips             0
CountyName             0
ReportYear             0
Value                  0
Unit                   0
UnitName               0
DataOrigin             0
MonitorOnly            0
dtype: int64

In [13]:
#dropping the coloum
AirqualityDF = AirqualityDF.drop(['UnitName','Unit','_id'], axis=1)

In [14]:
AirqualityDF.head(1)

,MeasureId,MeasureName,MeasureType,StratificationLevel,StateFips,StateName,CountyFips,CountyName,ReportYear,Value,DataOrigin,MonitorOnly
0,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1027,Clay,1999,33,Monitor Only,1

In [15]:
#transferring the data frame to PostgreSQL
def getconnection(db):
    dbConn = psycopg2.connect(
        user = "dap",
        password = "dap",
        host = "192.168.56.30",
        port = "5432",
        database = db)
    return dbConn

In [17]:
def saveDFtoDB():
    try:
        engine = create_engine('postgresql+psycopg2://dap:dap@192.168.56.30:5432/postgres')

        pgconnection = engine.raw_connection()
        cur = pgconnection.cursor()
        
        cur.execute('DROP table IF EXISTS airtable;')
        print("Table dropped... ")
        pgconnection.commit()
        
        AirqualityDF.head(0).to_sql('airtable', engine) #drops old table and creates new empty table
        
        output = io.StringIO()
        AirqualityDF.to_csv(output, sep='\t', header=False, index=True)
        output.seek(0)
        contents = output.getvalue()
        cur.copy_from(output, 'airtable', null="") # null values become ''
        pgconnection.commit()
    except(Exception) as error:
        print("Error while connecting to DB",error)
    finally:
        if pgconnection is not None:
            pgconnection.close()
            
saveDFtoDB()

Table dropped...

In [18]:
import psycopg2 as pg
import pandas.io.sql as psql

connection = pg.connect("host=192.168.56.30 dbname=postgres user=dap password=dap")
dataframe = psql.read_sql('SELECT * FROM airtable', connection)

In [19]:
dataframe

,index,MeasureId,MeasureName,MeasureType,StratificationLevel,StateFips,StateName,CountyFips,CountyName,ReportYear,Value,DataOrigin,MonitorOnly
0,0,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1027,Clay,1999,33,Monitor Only,1
1,1,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1051,Elmore,1999,5,Monitor Only,1
2,2,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1073,Jefferson,1999,39,Monitor Only,1
3,3,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1079,Lawrence,1999,28,Monitor Only,1
4,4,83,Number of days with maximum 8-hour average ozo...,Counts,State x County,1,Alabama,1089,Madison,1999,31,Monitor Only,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,10,Delaware,10003,New Castle,2006,6853262,Monitor Only,1
9996,9996,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,10,Delaware,10005,Sussex,2006,1823900,Monitor Only,1
9997,9997,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,11,District of Columbia,11001,District of Columbia,2006,12554982,Monitor Only,1
9998,9998,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,12,Florida,12001,Alachua,2006,479012,Monitor Only,1
9999,9999,84,Number of person-days with maximum 8-hour aver...,Counts,State x County,12,Florida,12003,Baker,2006,25571,Monitor Only,1